{% extends "flask_user_layout.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('home') }}"></a>Home</li>
    <li class="breadcrumb-item active">All Books</li>
{% endblock %}

{% block page_content %}

    {% set ns = namespace(previousCategory='') %}
    {% for book in books %}
        {% if ns.previousCategory != book['c_description'] %}
            <h2>{{ book['c_description'] }}</h2>
        {% endif %}
    <div>
        {{ book['title'] }} -- {{ book['author'] }}
    </div>
    {% set ns.previousCategory = book['c_description'] %}
    {% endfor %}

    {% if books[length == 0 ]%}
        <h2>The DB Is Empty, you should see some data or add a book!</h2>
    {% endif %}

{% endblock %}